<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Momentum Lab - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/momentumlab_admin.css" >
</head>

<body>
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img style="width: 30px;" src="/images/imagotipo.png" alt="imagotipo"> Momentum Lab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <img style="width: 30px;" src="/images/imagotipo.png" alt="imagotipo">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Momentum Lab</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#metodologia">Metodología</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hyperscanning">HyperScanning Lab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#neurofeedback">NeuroFeedback Lab</a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link" href="#tests">Assessments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    


    {{{body}}}


  </body>
</html>
