<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/logo-momentum-218.png" alt="logo_momentum" width=m-auto height="57">
    <br>
    <h2 class="display-6 fw-bold">Próximamente sitio novedades</h2>
    <br>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, ab aliquam nam quisquam
            sequi ipsa sit porro obcaecati in nihil ea culpa fugit eum, ullam quas velit recusandae quo ex.</p>

       <!-- fin layout novedades posible botón
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>-->
    </div>
</div>