<div class="container-fluid">
    <div style="padding:80px 0px 0px 0px;" class="row">
        <div class="col-10"></div>
        <div class="col-2 text-right">
            <p class="text-end">
                <a href="admin/login/logout"><button type="button" class="btn btn-primary">Cerrar
                        sesión <i class="fas fa-sign-out-alt"></i></button>
                </a>
            </p>
        </div>

    </div>
</div>
<div class="b-example-divider"></div>

<!-- Inicio hero vertically centered sucess login--->

<div style="padding:10px 50px 10px 50px;" class="px-4 pt-5 my-5 text-center border-bottom">
    <img style="width: 180px;" src="/images/imagotipo.png" alt="logo momentum">
    <h1 class="display-4 fw-bold">¡Estas logeado!</h1>
    <br>
</div>

<!-- inicio layout con definiciones de metodologías-->
<div class="col-lg-6 mx-auto text-center">
    <p class="lead mb-4">Qué deseas hacer?</p>
</div>
<div id="elegir_sesion" style="margin:0px 40px 0px 40px;" class="row text center">
    <div class="col-md-4">
        <div style="margin-left:5px;" class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/activity.png" alt="Hyperscanning">
                </div>
                <div>
                    <h3 class="fs-2">HyperScanning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga cum assumenda ullam dolorem repellat ex culpa incidunt hic ipsum pariatur vitae quod, voluptate eius quos sed recusandae maxime alias.</p>
                    <a href="/hyperscanning/session_hyperscan" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/refresh-cw.png" alt="neurofeedback">
                </div>
                <div>
                    <h3 class="fs-2">NeuroFeedback</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sit, aspernatur perspiciatis consectetur accusamus mollitia perferendis eius iure velit nihil veritatis illo error pariatur vero omnis quibusdam saepe labore adipisci!</p>
                    <a href="#" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/heart.png" alt="neurofeedback">
                </div>
                <div>
                    <h3 class="fs-2">Biofeedback</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam similique consequuntur ratione saepe eum ducimus? Iste, exercitationem. Minus, quaerat error? Dolores reprehenderit nam eveniet veritatis. Eligendi error id ipsam adipisci!</p>
                    <a href="#" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<!-- fin banda qué hacer--->


<br>