<h1>{{title}}</h1>

<h2>Hola soy los contenidos de la página</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quod eligendi mollitia, consequuntur cupiditate error laborum hic labore ipsum illo quaerat aliquid neque quibusdam quos iusto libero, voluptatum voluptates adipisci.</p>