<img src="https://via.placeholder.com/900x300?text=Esto+es+un+Header" alt="header" width="100%">
<br>
<h2> Esta pagina es neurofeedback</h2>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quibusdam eos voluptatum at accusamus vel neque, minus quas explicabo accusantium ipsam, aliquam deserunt necessitatibus distinctio sequi. Hic corporis dignissimos minus!</p>