/*
font-family: 'Lato', sans-serif;
*/
footer {
    background-color: #aaa;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
}

.hero {
    background: #ffff url("/img/AdobeStock_478528634.jpeg") no repeat cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}