/*
font-family: 'Lato', sans-serif;
*/
footer {
    background-color: #aaa;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
}

.hero {
    background: url(.../M2U3-4 - maquetado/img/AdobeStock_478528634.jpeg) no repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}