
<main>
    <br>
  <div class="container py-4">

    <div style="margin-top: 100px;" class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
<div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img style="height:40px;" src="/images/activity.png" alt="Hyperscanning">
        </div>
        <h1 class="display-5 fw-bold">Hyperscanning</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div style="background-color: #ffffff;" class="h-100 p-5 border rounded-3">
                    <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img style="height:30px;" src="/images/refresh-cw.png" alt="neurofeedback">
        </div>
          <h2>Neurofeedback</h2>
          <p>El Neurofeedback es el entrenamiento de las ondas cerebrales para permitir a la persona ser conciente de su actividad cerebral y modificarla.</p>
          <br>
          <button class="btn btn-outline-primary" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
                    <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img style="height:30px;" src="/images/heart.png" alt="neurofeedback">
        </div>
          <h2>Biofeedback</h2>
          <p>Esta metodología implica la utilización de ECG de varios canales que pueden analizar la temperatura de la corteza prefrontal, impedancia en la piel o respiración. Este método se utiliza para influir y/o modificar señales corporales como por ejemplo:estrés (por ejemplo, tensión muscular, sintomatología cardiaca, alteraciones circulatorias)</p>
          <button class="btn btn-primary" type="button">Example button</button>
        </div>
      </div>
    </div>
  </div>
</main>

    <!-- fin layout con definiciones de metodologías-->
    <br>
    <!--visitanos-->
    <div id="conocenos" style="background-color: #dadada;" class="row py-5 px-5">
        <div class="col-sm-6 col-md-5 col-lg-6">
            <h2>Visítanos</h2>
            <div class="mapa">

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.7910590678525!2d-70.53697898523814!3d-33.40261490244394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cea3ad97de8f%3A0x9556d849acdd0537!2sCam.%20El%20Alba%209500%2C%20Las%20Condes%2C%207550000%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1658839456457!5m2!1ses-419!2scl"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 py-4">

            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="col-12">
                     <label for="inputAsunto" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="inputAsunto" placeholder="Asunto">
                </div>
                <div class="col-12">
                    <label for="inputMessage" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="inputMessage" rows="3" placeholder="Mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>